@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Lato:wght@300;400;700&display=swap");

:root {
    --white: #ffffff;
    --black: #000000;
    --gold: #d69e3d;
    --beige: #f3f0e9;
}

/* Testimonials CSS */

.testimonials {
    background-color: #000000;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.testimonials h2 {
    color: var(--gold);
    font-size: large;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-left: 1rem;
}

.testimonials h3{
    color: #ffffff;
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 3rem;
    margin-left: 1.5rem;
    margin-right: 4rem;
}

.people {
    margin: 0.5rem;
}

/* Testimonial 1 */

.person-1 img {
    width: 100%;
}

.person-1 {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.person-1 p {
    position: absolute;
    color: #ffffff;
    top: 80%;
    left: 35%;
    font-size: large;
    transform: translate(-50%, -50%);
    line-height: 1.4;
}

.person-1 p:last-child {
    color: #d69e3d;
    top: 90%;
    left: 20%;
    font-size: x-large;
}

.person-1::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Testimonial 2 */

.person-2 img {
    width: 100%
}

.person-2 {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.person-2 p {
    position: absolute;
    color: #ffffff;
    top: 80%;
    left: 36%;
    font-size: large;
    transform: translate(-50%, -50%);
    line-height: 1.4;
}

.person-2 p:last-child {
    color: #d69e3d;
    top: 91%;
    left: 23%;
    font-size: x-large;
}

.person-2::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); 
}

/* Testimonial 3 */

.person-3 img {
    width: 100%
}

.person-3 {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.person-3 p {
    position: absolute;
    color: #ffffff;
    top: 81%;
    left: 34%;
    font-size: large;
    transform: translate(-50%, -50%);
    line-height: 1.4;
}

.person-3 p:last-child {
    color: #d69e3d;
    top: 91%;
    left: 20%;
    font-size: x-large;
}

.person-3::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}


/* Footer CSS */

.sitefooter {
    background-color: #000000;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: large;
    padding: 2rem;
}